
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowData</title>
</head>
<body>
    @ViewBag.employee.EmployeeCode
    @ViewBag.employee.EmployeeName
    @ViewBag.employee.EmployeeDesig
    @ViewBag.employee.EmployeeDept

</body>
</html>
